@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/globalStyles.scss" as global;

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.inputWrapper {
	display: flex;
	flex-direction: "row";
	gap: 1rem;

	svg {
		cursor: pointer;
	}
}

.blockName {
	margin-bottom: 5px;
}

.loader {
	width: 30px;
}
