@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/globalStyles.scss" as global;

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-bottom: 1rem;
	padding: 20px;
	@extend %glassPanel;
}

.group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.subGroup {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	margin: 0;
	color: colors.$color-text-secondary;
	font-size: 13px;
}

.subtitle {
	margin: 0;
	color: colors.$color-white;
	font-size: 18px;
	font-weight: 700;
}

.inputWrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;

	svg {
		cursor: pointer;
	}
}

.loader {
	width: 30px;
}
