@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/globalStyles.scss" as global;

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-bottom: 1rem;
	padding: 20px;
	@extend %glassPanel;
}

.inputWrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;

	svg {
		cursor: pointer;
	}
}

.blockName {
	margin-bottom: 6px;
	color: colors.$color-text-secondary;
}

.loader {
	width: 30px;
}
