@use "../../assets/styles/colors.scss" as colors;

.sidebar {
	display: flex;
	flex-direction: column;
	width: 240px;
	height: 100vh;
	background-color: colors.$color-text-disabled;
	color: colors.$color-white;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transition: 0.3s;

	.header {
		border-bottom: 1px solid colors.$color-primary;
		display: flex;
		padding: 10px;
		align-items: center;
		justify-content: space-between;

		.title {
			color: colors.$color-primary;
			font-size: 24px;
			font-weight: 700;
			cursor: pointer;
		}

		.arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(colors.$color-white, 0.3);
			padding: 5px;
			border-radius: 5px;
			width: 44px;
			height: 44px;
		}
	}

	.nav {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.navItem {
		display: flex;
		align-items: center;
		background: transparent;
		gap: 10px;
		border: none;
		color: colors.$color-white;
		font-size: 16px;
		text-align: left;
		padding: 10px 12px;
		cursor: pointer;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: colors.$color-surface;
		}

		&.navItemActive {
			background-color: colors.$color-primary;
		}
	}

	.footer {
		padding: 10px;
	}

	.logoutBtn {
		width: 100%;
		background-color: rgba(colors.$color-white, 0.1);
		display: flex;
		gap: 10px;
	}

	&.hidden {
		width: auto;

		.nav {
			margin-top: 10px;
			gap: 10px;
			align-items: center;
			.navItem {
				width: 44px;
				height: 44px;
				background-color: rgba(colors.$color-white, 0.3);
				border-radius: 5px;

				span {
					display: none;
				}

				&.navItemActive {
					background-color: colors.$color-primary;
				}
			}
		}

		.footer {
			display: flex;
			justify-content: center;
			align-items: center;

			.logoutBtn {
				width: 44px;
				height: 44px;
				padding: 0;

				span {
					display: none;
				}
			}
		}

		.header {
			justify-content: center;
			flex-direction: column;
			gap: 5px;

			.title {
				font-size: 20px;
			}
		}

		.arrow {
			transform: rotate(-180deg);
		}
	}
}
