@use "../../../../assets/styles/colors.scss" as colors;
@use "../../../../assets/styles/globalStyles.scss" as global;

.block {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 12px;
	@extend %glassPanel;
}

.label {
	margin: 0;
	color: colors.$color-text-secondary;
	font-size: 13px;
}

.inputWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	svg {
		cursor: pointer;
	}
}

.saving {
	color: colors.$color-text-secondary;
	font-size: 12px;
}
