// Основные цвета
$color-bg: #121212; // очень тёмный фон
$color-surface: #1e1e1e; // поверхностные панели, карточки
$color-primary: #1fb141; // акцентный зеленый
$color-primary-light: #3cd357;
$color-primary-dark: #13822e;

$color-text-primary: #e0e0e0; // основной текст (светлый)
$color-text-secondary: #a0a0a0; // вспомогательный текст
$color-text-disabled: #5a5a5a; // для неактивных элементов

$color-border: #333333; // рамки и разделители

// Вспомогательные цвета
$color-error: #cf6679;
$color-red: #ff002f;
$color-warning: #ffa000;
$color-info: #2196f3;
$color-success: #4caf50;

$color-white: #ffffff;
