@use "../../assets/styles/colors.scss" as colors;
@use "../../assets/styles/globalStyles.scss" as global;

.wrapper {
	display: flex;
	min-height: 100vh;
	gap: 24px;
	padding: 12px;

	.main {
		flex-grow: 1;
		padding: 12px;
		@extend %glassPanel;
		height: calc(100vh - 48px);
		display: flex;
		flex-direction: column;
		min-height: 0;
		overflow: hidden;
		@extend %scroll;
	}
}

@media screen and (max-width: 900px) {
	.wrapper {
		flex-direction: column;
		padding: 12px;

		.main {
			height: auto;
			min-height: calc(100vh - 220px);
		}
	}
}
